# Default config


#Exectuion mode
# Execution mode 1: running WTF on AP / 0: running WTF on client machine
execution_mode = 0

#Wi-Fi interface's IP address on host
[client_conf]
#Wi-Fi connected device's IP on tour machine
cl_wifi_ip = "192.168.4.127"
cl_ctrl_ip = "192.168.2.2"

[ap_conf]
#Wi-Fi connection
ap_wifi_ip = "192.168.4.1"
ap_ctrl_ip = "192.168.2.1"

#Set the name that is used by UCI, to see use cmd "uci show wireless", needed for OpenWrt usage
uci_ap_iface = "radio0"

#Set a name of interface, to find use iw dev -> Interface
ap_wifi_iface = "phy0-ap0"

#Set a name of physical device, to find use iwinfo phyname
ap_phy = "phy0"

[defaults]
#Test duration(seconds)
timeout = 15
#Bandwidth limit, default 0 -> no limited
bandwidth = 0

# Packet length for iperf3
# packet_length = 0 --> no limit
packet_length = 0

# Bidirectional: 1 - bidirectional / 0 - unidirectional
bidir = 0

# By default, AP transceives data to the host with this application
# reverse = 0 --> AP = TX & host = RX
# reverse = 1 --> AP = RX & host = TX
reverse = 0

# Packet fragmentation function performed by iperf3
# fragmentation: 0 - disabled / 1 - enabled
fragmentation = 1


